{% extends 'base.html' %}
{% load static %}

{% block title %}
This Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-details.css' %}">
{% endblock css_files %}


{% block content %}
    <section id='summary'>
        <h2>Post Title</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title">
            <address>By Suraj</address>
            <div>
                Last updated on <time>July 3rd</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, assumenda odio accusantium nihil porro tenetur maiores aut nobis at. Illum neque itaque ratione debitis nobis quidem doloribus corrupti magnam qui!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, assumenda odio accusantium nihil porro tenetur maiores aut nobis at. Illum neque itaque ratione debitis nobis quidem doloribus corrupti magnam qui!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, assumenda odio accusantium nihil porro tenetur maiores aut nobis at. Illum neque itaque ratione debitis nobis quidem doloribus corrupti magnam qui!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, assumenda odio accusantium nihil porro tenetur maiores aut nobis at. Illum neque itaque ratione debitis nobis quidem doloribus corrupti magnam qui!
        </p>
    </main>
{% endblock content %}